@model List<DemoUsuarios.Models.UsuarioModels.Usuario>

@{
    ViewBag.Title = "Usuario";
}

<h2>Lista de Usuarios</h2>
<div class="row">
    <button type="button" class="btn btn-primary adicionar" onclick="location.href='@Url.Action("Create","Usuario")'">Nuevo</button>
</div>
<div class="row">
    <table id="tblUsuarios" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Id Persona</th>
                <th></th>
            </tr>
            @foreach (var Elemento in Model)
            {
                <tr>
                    <td>@Elemento.Username</td>
                    <td>@Elemento.IdPersona</td>

                    <td>
                        <a class="btn btn-default" href="~/Usuario/Update/@Elemento.Id">Editar</a>
                        <a class="btn btn-danger" href="~/Usuario/Eliminar/@Elemento.Id">Eliminar</a>
                    </td>
                </tr>

            }
        </thead>
        <tbody>
        </tbody>
        <tfoot></tfoot>
    </table>

</div>
